{# empty Twig template #}


{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/styleTemplate.css') }}" />
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header"><h1 style="font-style: italic" class="style1 page-text">Admin panel</h1></div>     
            </div>  
        </div> 

        <div class="row">
            <div style="padding-top: 30px; padding-bottom: 15px" class="col-md-12">
                
                {#
                <ul style="margin-left:50px;" class="nav nav-pills style1 page-text">
                    <li><a   href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editgallery/gallery' class="page-text1"  >EDITUJ GALERIJU</a></li>
                    <li><a   href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editexhibitions' class="page-text1" >EDITUJ IZLOZBE</a></li>
                    <li><a   href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editcomments' class="page-text1" >PREGLED KOMENTARA</a></li>
                    <li><a   href='http://localhost/GalleryProjectV1/web/app_dev.php/logout' class="page-text1" >LOGOUT</a></li>
                </ul>
                #}
                
                <ul style="margin-left:50px;" class="nav nav-pills style1 page-text">
                    <li><a   href='/GalleryProjectV1/web/admin/editgallery/gallery' class="page-text1"  >EDITUJ GALERIJU</a></li>
                    <li><a   href='/GalleryProjectV1/web/admin/editexhibitions' class="page-text1" >EDITUJ IZLOZBE</a></li>
                    <li><a   href='/GalleryProjectV1/web/admin/editcomments' class="page-text1" >PREGLED KOMENTARA</a></li>
                    <li><a   href='/GalleryProjectV1/web/logout' class="page-text1" >LOGOUT</a></li>
                </ul>
            </div>   
        </div>

        {% block third %}
           
                    <h2 class="page-text" style="text-align: center; margin: 200px">Izaberi jednu od ponudjenih opcija iz navigacionog bara.</h2>
              
        {% endblock%}
    </div>
{% endblock %}


{#

 <div class="row">
                <div class="col-lg-12">
   </div>
            </div>   

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Admin page!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('css/styleTemplate.css') }}" />
        {% endblock %}
         <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
    </head>
    <body style="background-color: #000">
        <div id="view-panel" class="page-text-admin">
            {% block body %}
                <div style="background-color: #D3D3D3">
                    <nav  class="style1 page-text" style="margin-left:50px">    
                        <a href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editgallery/gallery' class="page-text1" >EDITUJ GALERIJU</a>
                        <a href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editexhibitions' class="page-text1" >EDITUJ IZLOZBE</a>
                        <a href='http://localhost/GalleryProjectV1/web/app_dev.php/admin/editcomments' class="page-text1">PREGLED KOMENTARA</a>
                        <a href='http://localhost/GalleryProjectV1/web/app_dev.php/logout' class="page-text1">LOGOUT</a>
                    </nav>  
                </div>
            {% endblock %}
        </div>

    {% block javascripts %}{% endblock %}

</body>
</html>
#}
